form.user .form-control-user {
  padding: 1.1rem 1rem;
  border-radius: 0.6rem;
}

.custom-select,
.date {
  height: 38.18px;
  /* padding: 1.1rem 1rem; */
  font-size: .8rem;
  border-radius: .6rem;
}

@media print {
    * {
      visibility: hidden;
    }
  
    .printable {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10mm;
    }
  
    .printable * {
      visibility: visible;
    }
  }

.btn-bayar {
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-bottom-left-radius:.35rem ;
  border-bottom-right-radius:.35rem ;
}

.border-top-primary {
  border-top: 0.25rem solid #4e73df !important;
}

.payment-modal {
  max-height: 400px;
  overflow-y: auto;
}